# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build

# Environment
.env
.env.local
.env.development
.env.production
!.env.example
client/.env
client/.env.local
client/.env.development
client/.env.production
!client/.env.example

# Supabase
/supabase/.env
/supabase/.env.*
!/supabase/.env.example

server/logs/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor/mcp.json
# OS files
.DS_Store 

